<main class="main main-list">
  <h1>Classes</h1>

  <ul>
    <% @school_classes.each do |school_class| %>
    <li><%= link_to school_class.name, school_class_path(school_class) %></li>
    <% end %>
  </ul>

  <% if @school_classes.count == 0 %>
    <div class="main-info">
      <h2>No Classes</h2>
      <p>Maybe you'll <%= link_to 'create one?', new_school_class_path %></p>
    </div>
  <% end %>
</main>